

form{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  display: none;
}

.menu2, .quant{
  display: flex;
}

.menu2{
  justify-content: space-between;
  width: 100%;
}

.quant{
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
}

.container h3{
  margin: 0 auto;
}

.container p{
  margin: 50px auto;
}

.top a{
  padding: 20px;
  background: #DEA0B7;
  text-decoration: none;
  font-size: 30px;
  color: black;
  text-align: center;
  width: 200px;
  align-self: center;
}

.top, .mid{
  padding: 50px;
}

.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.top h3{
  font-family: BodegaSerif;
  font-size: 80px;
  line-height: 1.2em;
}

.top span{
  color: #EB1C24;
}

.mid{
 
  background-color: #EB1C24;
  max-height: 40%;
  color: white;
 

}

.btm{
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btm h3{
  font-size: 50px;
  color: #EB1C24;
  transform: translateY(-50px);
}

.btm span{
  color: black;
}

.order{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order img{
  max-width: 100%;
  height: 50px;
}

.foot{
  text-align: center;
}

.foot img{
  width: 50px;
  height: 50px;
  margin: 5px;
}

.main-menu{
  max-width: 80%;
  width: 1000px;
  padding: 20px;
  max-height: 40%;
  border: 5px solid #EB1C24;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-logo{
  
  bottom: 100;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  transform: translateY(-85px);
}

/*Menu*/
.food-items{
  display: flex;
  flex-direction: column;
}

/* The Modal (background) */
.modal, .menu-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}


.modal-food, .total, form{
  padding: 20px;
}

.modal-food{
  display: flex;
  flex-direction: column;
}
.order{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order img{
  max-width: 100%;
  height: 50px;
}

.container{
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


h1{
  text-align: center;
  font-size: 50px;
}

#pic{
  max-width: 250px;
  height: 100%;
}

#pic img{
height: 250px;
}


.box{
  border: 1px solid black;
  max-width: 500px;
 
  margin: 20px;
  cursor: pointer;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}


.food{
  display: flex;
  border: 1px solid black;
  max-width: 100%;
  max-height: 250px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
 
}

.food-descript{
  padding: 20px 10px;
}

.total{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: flex-end;
}

.cart-price{
  text-align: center;
  font-size: larger;
}

.cart-total{
  color: black;
}

.cart-quantity-input{
  width: 50px;
}

.btn-purchase{
  padding: 10px;
}

.item{
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px}
}


@media(min-width: 700px){
.top{
  display: flex;
  flex-direction: column;
}



.top img{
  width: 100%;
  max-width: 50%;
}


.nav{
  display: none;
}

ul{
  display: block;
  width: 100%;
  text-align: center;
 margin: auto;
}

ul li{
  display: inline;
  margin: 30px;
  font-size: 20px;
}

.top img{
max-width: 60%;
}

.order img{
  margin-right: 20px;
}

.order img::before{
  content: '0';
  font-size: 10px;
  width: 20px;

}
.cart{
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
}




}

@media(min-width: 768px){
  .box{
      border: 1px solid black;
      max-width: 500px;
      min-height: 150px;
      margin: 20px;
      display: flex;
      cursor: pointer;
      
  }

  .container1{
      display: flex;
      justify-content: center;
      align-content: center;
  }

}


@media(min-width: 900px){
  .container1{
      display: flex;
      justify-content: center;
      align-content: center;
  }

  .cart{
      justify-content: space-evenly;
  }

  .food-items{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "left right"
      "left right"
      ;
      gap: 25px;
  }

  .food{
      width: 100%;
      margin-right: 30px;
  }
}


